$content-after-title: 'Будущие источники обогащения васюкинцев';
$font-family: "Golos Text", sans-serif;
$second-family: "Merriweather", sans-serif;
$third-family: "Montserrat", sans-serif;
$color-text: #313131;
$color-text-second: #1f1f1f;
$color-running-line: #fff;
$color-text-running-line: #fff;
$color-other-btn: #fff;
$color-circle: #fff;
$color-quote: #f54932;
$color-border-table: #d0d0d0;
$color-text-link: #3057a2;
$bcg-other-btn: #1f1f1f;
$bcg-hover-other-btn: #fbce51;
$bcg-active-arrow: #fbce51;
$bcg-disabled-arrow: #d6d6d6;
$bcg-running-line: #f54932;
